body{
 text-align:center;
}

a:link,a:visited,a:hover,a:active{
 color:deeppink;
 text-decoration: none;
}

#himg{
  width: 100%;
  height: 350px;
  object-fit: cover;
  border:dotted 5px gray;
  margin-bottom:10px;
}

footer{
 margin-top:10px;
 height:50px;
 line-height:50px;
 background:#fff;
 border-top:dotted 5px #ddddff;
 color:#ddddff;
 //text-shadow:0 0 5px #333;
}
h3{
 text-size:20px;
 line-height:20px;
}

#kiyaku{
 border:dotted 5px pink;
 margin-bottom:10px;
}
#ryoukin{
 border:dotted 5px skyblue;
}


#kanni{
 width:200px;
 border-radius:5px;
 margin:0 auto;
 background-color:#ddddff;
}
#kuuhaku{
 background-color:#fff;
}

th{
 background-color:#ddddff;
}

td{
 background-color:lightgray;
}

#hinnmoku{
 background-color:#ffdeef;
}

th,td{
 width:80px;
 border:solid 3px #fff;
 border-radius:10px;
 text-align:center;
 //box-shadow:0 0 5px 0 pink;
}
